@import './Css/HeaderSection.css';
@import './Css/sideNavbar.css';
@import './Css/toggleMenu.css';
@import './Css/tabs.css';
@import './Css/Content.css';
@import './Css/embedded.css';
@import './Css/AccountSection.css';
@import './Css/ShortPage.css';
@import './Css/footer.css';
@import './Css/SecondSection.css';




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}